<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit book</title>
    <link rel="stylesheet" href="/css/edit.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>


<!-- Форма редактирования книги -->
<form id="edit-form">
    <h3>Book Info:</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" value="1"/>
    </div>

    <div class="row">
        <label for="book-title-input">Title:</label>
        <input id="book-title-input" name="title" type="text" value="Title"/>
    </div>

    <div class="row">
        <label for="book-author-input">Author:</label>
        <select id="book-author-input" name="authorId">
            <option value="1">Author 1</option>
            <option value="2">Author 2</option>
        </select>
    </div>

    <div class="row">
        <label for="book-genre-input">Genre:</label>
        <select id="book-genre-input" name="genreId">
            <option value="1">Genre 1</option>
            <option value="2">Genre 2</option>
        </select>
    </div>

    <div class="row">
        <button type="submit" class="button save-button">Save</button>
        <a href="/list" methods="get" class="button cancel-button">Cancel</a>
    </div>
</form>

<script src="/js/edit.js"></script>
</body>
</html>
