<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
<div class="container">
    <h1>Welcome to the Library</h1>
    <form id="start-page" action="/list" method="get">
        <button type="submit" class="button">Open the Library</button>
    </form>
</div>
</body>
</html>