<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Delete book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>

</head>
<body>

<!-- Person edition -->
<form id="delete-form" action="delete.html" th:method="post" th:action="@{/delete/book/__${book.id}__}" th:object="${book}">
    <h3>Book delete:</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" value="1" th:value="*{id}"/>
    </div>

    <div class="row">
        <label for="title-input">Title:</label>
        <input id="title-input" type="text" readonly="readonly" value="title" th:value="*{title}"/>
    </div>

    <div class="row">
        <button type="submit">Delete</button>
        <a href="list.html" th:href="@{/list}"><button type="button">Cancel</button></a>
    </div>
</form>

</body>
</html>
