<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>

</head>
<body>

<!-- Person edition -->
<form id="edit-form" action="edit.html" th:method="post" th:action="@{/edit/book/__${book.id}__}" th:object="${book}">
    <h3>Book Info:</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" value="1" th:value="*{id}"/>
    </div>

    <div class="row">
        <label for="book-title-input">Title:</label>
        <input id="book-title-input" name="title" type="text" value="Title" th:value="*{title}"/>
    </div>

    <div>
        <label for="book-author-input">Author:</label>
        <select id="book-author-input" name="authorId">
            <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.fullName}">Name</option>
        </select>
    </div>
    <div>
        <label for="book-genre-input">Genre:</label>
        <select id="book-genre-input" name="genreId">
            <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}">Name</option>
        </select>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a href="list.html" th:href="@{/list}">
            <button type="button">Cancel</button>
        </a>
    </div>
</form>

</body>
</html>
