<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .books tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .books td:last-child, td:first-child {
            width: 50px;
        }
    </style>
</head>
<body>
<h3>Books:</h3>

<table class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <!--
        Идёт обращение к атрибуту "books" который я положил в модель
        Запуск цикла по этому атрибуту с условным именем, которое я ему задаю
        После идёт обращение к ка
    -->
    <tr th:each="book : ${books}" th:object="${book}">
        <!--
               Тут есть дефолтный текст который переопределяется таймлифом
               Обращение через звездочку означает обращение к текущему контексту
               То есть я бы мог прописывать ${book.id}, но через звездочку короче
        -->
        <td th:text="*{id}">1</td>
        <td th:text="*{title}">Book</td>
        <td th:text="*{author.fullName}">Author</td>
        <td th:text="*{genre.name}">Genre</td>
        <td>
            <!--   Переопределение ссылки для каждой книги. Будет вызываться my_site/edit/book/ID_книги         -->
            <a href="edit.html" th:href="@{/edit/book/__*{id}__}">Edit</a>
        </td>
        <td>
            <!--   Переопределение ссылки для каждой книги. Будет вызываться my_site/edit/book/ID_книги         -->
            <a href="delete.html" th:href="@{/delete/book/__*{id}__}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<form id="add-book-page" action="list.html" th:action="@{/create/book}">
    <div class="row">
        <button type="submit">InsertBook</button>
    </div>
</form>
</body>
</html>
